body
{
    background-color:silver;
}
header{
    background-color: blue
}
h1{
    font-size: 50px;
    text-align: center;
    color: red;
    margin-bottom: -5px;
}
.img1{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
}
.img2{
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img3
{
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img4
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
}
.img5
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img6
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img7
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
}
.img8
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img9
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img10
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 70px;
}
.img11
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}
.img12
{
    margin-top: 15px;
    width: 30%;
    height: 60%;
    margin-left: 15px;
}